# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Deploy App

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          #Set Java Version
          java-version: '20'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with maven
        run: mvn -B package --file backend/pom.xml

      - uses: actions/upload-artifact@v2
        with:
          name: backend.jar
          path: backend/target/backend.jar


  test-backend:
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          #Set Java Version
          java-version: '20'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with maven
        run: mvn -B test --file backend/pom.xml

      - uses: actions/upload-artifact@v2
        with:
          name: backend.jar
          path: backend/target/backend.jar


  push-to-docker-hub:
    runs-on: ubuntu-latest
    needs: test-backend
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          name: backend.jar
          path: backend/target

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          #Set dockerhub username
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          #Set dockerhub project (replace "sergejneuefische/javafx-student-db")
          tags: ziso3928/skill-master-backend:latest
          context: ./backend


  deploy:
    runs-on: ubuntu-latest
    needs: push-to-docker-hub
    steps:
      - name: Restart docker container
        uses: appleboy/ssh-action@master
        with:
          host: capstone-project.de
          #Set App Name (replace "antimon" with "oxygen", "phosphorus", "mercury")
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_SSH_PASSWORD }}
          #Set App Name (replace "antimon" with "oxygen", "phosphorus", "mercury")
          #Set dockerhub project (replace "sergejneuefische/javafx-student-db")
          #Set IP (replace "10.0.2.1" with "10.0.2.14", "10.0.2.15" or "10.0.2.16")
          script: |
            docker stop mercury
            docker rm mercury
            docker run --pull=always --name mercury -e=MONGO_DB_URI=${{ secrets.MONGODB_URI }} --network capstones --ip 10.0.2.16 --restart always --detach ziso3928/skill-master-backend:latest
            sleep 15s
            docker logs mercury

      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          #Set App Name (replace "antimon" with "oxygen", "phosphorus", "mercury")
          url: ${{ secrets.SERVER_URL }}
          max-attempts: 3
          retry-delay: 5s
          retry-all: true


